6ㅈㅏㅇ/Step_Functions/stepFunctionsTemplate.json
{
  "Comment": "AWS Lambda 함수를 사용하는 Amazon State Language 예제",
  "StartAt": "FetchAndCheck",
  "States": {
    "FetchAndCheck": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<계정ID>:function:fetchandCheckLambda",
      "Next": "ChoiceStateX",
      "Catch": [
            {
               "ErrorEquals": ["InvalidInputError", "InvalidOperandError"],
               "Next": "FailState"
            }
         ]
    },
    "ChoiceStateX": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.op",
          "StringEquals": "add",
          "Next": "Addition"
        },
        {
          "Variable": "$.op",
          "StringEquals": "sub",
          "Next": "Subtraction"
        },
        {
          "Variable": "$.op",
          "StringEquals": "mul",
          "Next": "Multiplication"
        },
        {
          "Variable": "$.op",
          "StringEquals": "div",
          "Next": "Division"
        }
      ],
      "Default": "DefaultState"
    },

    "Addition": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:<계정ID>:function:additionLambda",
      "Next": "InsertInDB"
    },

    "Subtraction": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:<계정ID>:function:subtractionLambda",
      "Next": "InsertInDB"
    },

    "Multiplication": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:<계정ID>:function:multiplication",
      "Next": "InsertInDB"
    },

    "Division": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:<계정ID>:function:divisionLambda",
      "Next": "InsertInDB",
      "Catch": [
            {
               "ErrorEquals": ["ZeroDivisorError"],
               "Next": "FailState"
            }
         ]
    },

    "DefaultState": {
      "Type": "Pass",
      "Next": "FailState"
    },

    "InsertInDB": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<계정ID>:function:insertInDBLambda",
      "Next": "SuccessState",
      "Catch": [
            {
               "ErrorEquals": ["States.ALL"],
               "Next": "FailState"
            }
         ]
    },

    "FailState": {
      "Type": "Fail"
    },

    "SuccessState": {
      "Type": "Succeed"
    }
  }
}
